.leagueListItem {
    font-family: var(--font-ubuntu-mono), monospace !important;
    border-bottom: 1px solid  #37383a;
}

.leagueTitle {
    font-size: 24px;
    font-family: var(--font-ubuntu-mono), monospace !important;;
}